.nav {
   padding: 1.25rem 1rem;
   background-color: #fff;
   border-bottom: $clr-light-grey solid 1px;

   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
   }

   &__item {
      padding: 0 0.75rem;

      @include mq($mq-wide){
         padding: 0 1.15rem;
      }
   }


   &__logo {
      width: 25px;
   
      @include mq($mq-wide){
         width: 150px;
      }
   }
}